-- Idempotent Supabase Migration Script
-- This script safely updates the database schema, handling existing objects.

-- 1. Create Enums (safely)
DO $$ BEGIN
    CREATE TYPE "role" AS ENUM ('PATIENT', 'DOCTOR', 'ADMIN', 'GOVERNMENT', 'LAB');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "doctor_verification_status" AS ENUM ('PENDING', 'VERIFIED', 'SUSPENDED');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "invitation_status" AS ENUM ('PENDING', 'ACCEPTED', 'CANCELLED', 'EXPIRED');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "appointment_status" AS ENUM ('SCHEDULED', 'COMPLETED', 'CANCELLED', 'NO_SHOW');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "prescription_status" AS ENUM ('ACTIVE', 'COMPLETED', 'CANCELLED');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "record_type" AS ENUM ('DIAGNOSIS', 'TREATMENT', 'PRESCRIPTION', 'LAB_RESULT', 'IMAGING', 'OTHER');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "consent_status" AS ENUM ('PENDING', 'APPROVED', 'DENIED', 'REVOKED');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "lab_test_status" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "audit_action" AS ENUM ('DATA_ACCESS', 'DATA_CREATE', 'DATA_UPDATE', 'DATA_DELETE', 'CONSENT_GRANTED', 'CONSENT_REVOKED', 'LOGIN', 'LOGOUT', 'EXPORT_DATA', 'SHARE_DATA', 'EMERGENCY_ACCESS');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE "resource_type" AS ENUM ('PATIENT_RECORD', 'MEDICAL_RECORD', 'PRESCRIPTION', 'APPOINTMENT', 'LAB_TEST', 'CONSENT_REQUEST', 'USER_PROFILE', 'INSURANCE_CLAIM');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- 2. Create Tables (IF NOT EXISTS)

-- Users
CREATE TABLE IF NOT EXISTS "users" (
    "id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" VARCHAR(50) NOT NULL DEFAULT 'patient',
    "fabric_enrollment_id" VARCHAR(255) NOT NULL,
    "wallet_address" VARCHAR(42),
    "full_name" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(20),
    "avatar_url" TEXT,
    "gender" VARCHAR(50),
    "address" TEXT,
    "license_number" VARCHAR(100),
    "specialization" VARCHAR(100),
    "doctor_hospital_affiliation" VARCHAR(255),
    "doctor_verification_status" VARCHAR(50),
    "qualification" TEXT,
    "experience_years" INTEGER,
    "consultation_fee" DECIMAL(10,2),
    "date_of_birth" DATE,
    "blood_group" VARCHAR(10),
    "emergency_contact" VARCHAR(20),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "flagged" BOOLEAN NOT NULL DEFAULT false,
    "flagged_reason" TEXT,
    "flagged_at" TIMESTAMPTZ(6),
    "flagged_by" UUID,
    "two_factor_secret" TEXT,
    "two_factor_enabled" BOOLEAN NOT NULL DEFAULT false,
    "backup_codes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "hospital_id" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,
    "last_login_at" TIMESTAMPTZ(6),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- User Audit Log
CREATE TABLE IF NOT EXISTS "user_audit_log" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "ip_address" INET,
    "user_agent" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_audit_log_pkey" PRIMARY KEY ("id")
);

-- User Invitations
CREATE TABLE IF NOT EXISTS "user_invitations" (
    "id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "role" VARCHAR(50) NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "status" VARCHAR(50) NOT NULL DEFAULT 'pending',
    "invited_by" UUID,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "user_invitations_pkey" PRIMARY KEY ("id")
);

-- Patient Wallet Mappings
CREATE TABLE IF NOT EXISTS "patient_wallet_mappings" (
    "id" UUID NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "wallet_address" VARCHAR(42) NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "created_by" UUID NOT NULL,
    "user_id" UUID,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "patient_wallet_mappings_pkey" PRIMARY KEY ("id")
);

-- Appointments
CREATE TABLE IF NOT EXISTS "appointments" (
    "id" TEXT NOT NULL,
    "appointment_id" VARCHAR(255) NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "scheduled_at" TIMESTAMPTZ(6) NOT NULL,
    "status" VARCHAR(50) NOT NULL DEFAULT 'SCHEDULED',
    "patient_id" UUID NOT NULL,
    "doctor_id" UUID NOT NULL,
    "notes" TEXT,
    "location" VARCHAR(255),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "appointments_pkey" PRIMARY KEY ("id")
);

-- Prescriptions
CREATE TABLE IF NOT EXISTS "prescriptions" (
    "id" UUID NOT NULL,
    "prescription_id" VARCHAR(255) NOT NULL,
    "medication" VARCHAR(255) NOT NULL,
    "dosage" VARCHAR(100) NOT NULL,
    "instructions" TEXT,
    "expiry_date" TIMESTAMPTZ(6),
    "status" VARCHAR(50) NOT NULL DEFAULT 'ACTIVE',
    "patient_id" UUID NOT NULL,
    "doctor_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "prescriptions_pkey" PRIMARY KEY ("id")
);

-- Medical Records
CREATE TABLE IF NOT EXISTS "medical_records" (
    "id" UUID NOT NULL,
    "record_id" VARCHAR(255) NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "record_type" VARCHAR(50) NOT NULL,
    "ipfs_hash" VARCHAR(255) NOT NULL,
    "file_name" VARCHAR(255),
    "patient_id" UUID NOT NULL,
    "doctor_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "medical_records_pkey" PRIMARY KEY ("id")
);

-- Consent Requests
CREATE TABLE IF NOT EXISTS "consent_requests" (
    "id" UUID NOT NULL,
    "consent_id" VARCHAR(255) NOT NULL,
    "purpose" TEXT NOT NULL,
    "scope" VARCHAR(100) NOT NULL,
    "status" VARCHAR(50) NOT NULL DEFAULT 'PENDING',
    "valid_until" TIMESTAMPTZ(6) NOT NULL,
    "patient_id" UUID NOT NULL,
    "requester_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "consent_requests_pkey" PRIMARY KEY ("id")
);

-- Lab Tests
CREATE TABLE IF NOT EXISTS "lab_tests" (
    "id" UUID NOT NULL,
    "test_id" VARCHAR(255) NOT NULL,
    "test_name" VARCHAR(255) NOT NULL,
    "test_type" VARCHAR(100) NOT NULL,
    "results" TEXT,
    "status" VARCHAR(50) NOT NULL DEFAULT 'PENDING',
    "performed_at" TIMESTAMPTZ(6),
    "patient_id" UUID NOT NULL,
    "doctor_id" UUID NOT NULL,
    "lab_id" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "lab_tests_pkey" PRIMARY KEY ("id")
);

-- Chat Messages
CREATE TABLE IF NOT EXISTS "chat_messages" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" VARCHAR(20) NOT NULL,
    "content" TEXT NOT NULL,
    "thread_id" VARCHAR(255) NOT NULL,
    "metadata" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- Hospitals
CREATE TABLE IF NOT EXISTS "hospitals" (
    "id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "registration_number" VARCHAR(100) NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "address" TEXT NOT NULL,
    "phone" VARCHAR(20),
    "email" VARCHAR(255),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "hospitals_pkey" PRIMARY KEY ("id")
);

-- Departments
CREATE TABLE IF NOT EXISTS "departments" (
    "id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "hospital_id" UUID NOT NULL,
    "head_doctor_id" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "departments_pkey" PRIMARY KEY ("id")
);

-- Pharmacies
CREATE TABLE IF NOT EXISTS "pharmacies" (
    "id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "license_number" VARCHAR(100) NOT NULL,
    "address" TEXT NOT NULL,
    "phone" VARCHAR(20),
    "email" VARCHAR(255),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "pharmacies_pkey" PRIMARY KEY ("id")
);

-- Drug Inventory
CREATE TABLE IF NOT EXISTS "drug_inventory" (
    "id" UUID NOT NULL,
    "pharmacy_id" UUID NOT NULL,
    "drug_name" VARCHAR(255) NOT NULL,
    "batch_number" VARCHAR(100) NOT NULL,
    "quantity" INTEGER NOT NULL,
    "expiry_date" DATE NOT NULL,
    "manufacturer" VARCHAR(255),
    "price_per_unit" DECIMAL(10,2),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "drug_inventory_pkey" PRIMARY KEY ("id")
);

-- Insurance Providers
CREATE TABLE IF NOT EXISTS "insurance_providers" (
    "id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "registration_number" VARCHAR(100) NOT NULL,
    "contact_email" VARCHAR(255) NOT NULL,
    "contact_phone" VARCHAR(20),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "insurance_providers_pkey" PRIMARY KEY ("id")
);

-- Insurance Policies
CREATE TABLE IF NOT EXISTS "insurance_policies" (
    "id" UUID NOT NULL,
    "policy_number" VARCHAR(100) NOT NULL,
    "coverage_amount" DECIMAL(10,2) NOT NULL,
    "valid_from" DATE NOT NULL,
    "valid_until" DATE NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "provider_id" UUID NOT NULL,
    "patient_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "insurance_policies_pkey" PRIMARY KEY ("id")
);

-- Insurance Claims
CREATE TABLE IF NOT EXISTS "insurance_claims" (
    "id" UUID NOT NULL,
    "claim_id" VARCHAR(255) NOT NULL,
    "blockchain_tx_hash" VARCHAR(66),
    "claimed_amount" DECIMAL(10,2) NOT NULL,
    "approved_amount" DECIMAL(10,2),
    "status" VARCHAR(50) NOT NULL DEFAULT 'SUBMITTED',
    "policy_id" UUID NOT NULL,
    "provider_id" UUID NOT NULL,
    "supporting_docs" TEXT[],
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "insurance_claims_pkey" PRIMARY KEY ("id")
);

-- System Audit Logs
CREATE TABLE IF NOT EXISTS "system_audit_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "resource_type" VARCHAR(50) NOT NULL,
    "resource_id" VARCHAR(255),
    "metadata" JSONB,
    "ip_address" INET,
    "user_agent" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_audit_logs_pkey" PRIMARY KEY ("id")
);

-- Audit Logs (Compliance)
CREATE TABLE IF NOT EXISTS "audit_logs" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "action" VARCHAR(100) NOT NULL,
    "resource_type" VARCHAR(50) NOT NULL,
    "resource_id" UUID NOT NULL,
    "details" JSONB,
    "timestamp" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" INET,
    "user_agent" TEXT,
    "emergency" BOOLEAN NOT NULL DEFAULT false,
    "consent_id" UUID,
    "blockchain_hash" VARCHAR(255),
    "success" BOOLEAN NOT NULL DEFAULT true,
    "error_message" TEXT,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);
